.list {
    width: 500px;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main {
    background-color: blueviolet;
}

.list2 {
    display: none;

}
li {
    list-style: none;
}

.list2 {
     position: absolute;
     width: 100px;
     height: 80px;
    background-color: red;
}

.hov:hover .list2{
        display: block;
        cursor: pointer;
}